fastapi
uvicorn
gunicorn
# Force redeploy trigger
supabase
python-dotenv
huggingface_hub
requests
pillow
opencv-python-headless
numpy
pydantic
pydantic-settings
python-multipart
onnxruntime
pandas
openpyxl
fpdf
httptools